#floating-panel {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  #maphight {
    height: 200px;
  }
  #right-panel {
    overflow: auto;
  }
  
  select {
    height: 30px;
    border-color: #D6DBDF;
    border-radius: 5px;
    background-color: #D6DBDF;
    color: #566573;
    width: 100%;
  }

  b {
    color:#566573;
  }